# ===============================
# Maven
# ===============================
target/
!.mvn/wrapper/maven-wrapper.jar

# ===============================
# IntelliJ IDEA
# ===============================
.idea/
*.iml
out/

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Environment / Secrets
# ===============================
.env
application-*.yml
application-*.properties

# ===============================
# Compiled class files
# ===============================
*.class

# ===============================
# Jenkins
# ===============================
jenkins_home/
